/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
background-image: url("https://assets.codepen.io/7248/grid-1.png");
/*width:956px;*/
width:90%;
max-width: 956px;
margin: 20px auto;
border: 1px solid #000; 
background-repeat: repeat-y;
background-position: center top; 
}

header.primary, footer.primary{
/*  width:920px; */
 width:95.8159%;
 margin-left: 2.09205%;
  margin-right: 2.09205%;
 background: rgba(0, 0, 0, 0.4);
 margin: 2.0833%;
 padding: 20px;
 float: left; 
}

#blog{
/*   width:638px; */
  width: 63.1799%;
  margin-left: 2.09205%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  float: left;

}

aside {
  background: rgba(0, 0, 0, 0.3);
  width: 30.5439%;
  margin-left: 2.09205%;
  padding: 20px;
  float: left;
}